.bd-round-left {
    border-radius: 1.5rem 0 0 1.5rem;
}

.bd-round-right {
    border-radius: 0 1.5rem 1.5rem 0;
}

.border-gray-custom {
    border-color: rgb(231, 230, 230);
}

.table td, .table th {
    height: 40px;
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}
